@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
:root {
  /* ## Colors */

  /* ### Primary */

  --blue: hsl(246, 80%, 60%);

  /* ### Neutral */

  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --desaturated-blue-200: hsl(235, 42%, 35%);
  --pale-blue: hsl(236, 100%, 87%);

  /* ## Typography */
  /* (card titles e.g. Work, Play) */
  --size: 18px;

  /* ### Font */
  /* - Weights: 300, 400, 500 */
  /* [Rubik](https://fonts.google.com/specimen/Rubik) */
  --font-rubik: "Rubik", sans-serif;
}

* {
  box-sizing: border-box;
}
h1,
p {
  margin: 0;
}

button {
  padding: 0;
  outline: none;
  border: none;
  background: none;
  font-family: var(--font-rubik);
  cursor: pointer;
  color: var(--desaturated-blue);
  font-size: var(--size);
}

body {
  margin: 0;
  padding: 2rem;
  min-height: 100vh;
  display: grid;
  align-items: center;
  background: var(--very-dark-blue);
  font-family: var(--font-rubik);
}

/* Container Section */
.container {
  max-width: 1115px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* User Card Section */
.user-card {
  background: var(--dark-blue);
  border-radius: 1rem;
  max-width: 254px;
  width: 100%;
}
.user-info {
  background: var(--blue);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem;
  padding-top: 2.1rem;
  padding-bottom: 4.9rem;
}
.avatar {
  width: 83px;
  border: 3px solid white;
  border-radius: 50%;
  margin-bottom: 2.65rem;
}
.user-info span {
  color: var(--pale-blue);
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}
.username {
  font-weight: 300;
  font-size: 2.5rem;
  color: white;
}

.time-period-buttons {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.1rem;
  padding: 2rem;
}

.time-period-buttons button:hover {
  color: white;
}

button.active {
  color: white;
}

/* Cards Container Section */

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 100%;
  gap: 1.875rem;
}

/* Card Section */

.card-container {
  position: relative;
  padding-top: 2.8rem;
  overflow: hidden;
}

.top-design {
  border-radius: 0.75rem;
  position: absolute;
  top: 0;
  height: 5rem;
  width: 100%;
}

.logo {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
}

.time-container {
  position: relative;
  overflow: visible;
  border-radius: 0.75rem;
  padding: 1.75rem;
  z-index: 1;
  background: var(--dark-blue);
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.65rem;
}

.title p {
  font-size: var(--size);
}

.ellipsis {
  fill: #bbc0ff;
  cursor: pointer;
}

.current-time {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.previous-lapse {
  color: var(--pale-blue);
  font-size: 14px;
}

.attribution {
  margin-top: 1rem;
  font-size: 14px;
  text-align: center;
  color: hsl(228, 45%, 44%);
}
.attribution a {
  color: var(--pale-blue);
}
